#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	# Download the source from GitHub
	if [ ! -d mochawesome ]; then \
		git clone --depth 1 --branch v7.1.4 https://github.com/Vitexus/mochawesome.git; \
	fi

override_dh_auto_build:
	# No build needed for this package

override_dh_auto_install:
	mkdir -p debian/node-mochawesome/usr/share/nodejs/mochawesome
	cp -r mochawesome/src debian/node-mochawesome/usr/share/nodejs/mochawesome/
	cp mochawesome/addContext.js debian/node-mochawesome/usr/share/nodejs/mochawesome/
	cp mochawesome/register.js debian/node-mochawesome/usr/share/nodejs/mochawesome/
	cp mochawesome/package.json debian/node-mochawesome/usr/share/nodejs/mochawesome/

override_dh_auto_test:
	# Skip tests during build

override_dh_auto_clean:
	rm -rf mochawesome
	dh_auto_clean
